.Game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.isSelected {
  transform: rotate(200deg) translateY(40px) !important;
}

.GameWrapper-cup:hover {
  transform: rotate(185deg) translateY(10px);
  cursor: pointer;
}

.Game-scores {
  background: rgb(55, 128, 170);
  opacity: .8;
  margin-right: 5em;
  color: white;
  padding: 1em;
  border-radius: .2em;
}

.fade-enter-active,
.fade-leave-active {
  transition: .3s ease-in-out;
}

.fade-enter {
  opacity: 0;
  transform: translateY(-100px);
}

.fade-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.fade-leave-to {
  opacity: 0;
  transform: translateY(-100px)
}
